{% extends 'frontend/base.html' %}

{% block content %}
    <h2 style="text-align: center">{{ Search | title}}</h2>

    <div class="row">
      {% for post in final_postings %}
          <div class="col s4">
            <div class="card">
              <div class="card-image">
                <a target="_blank" href="{{ post.Link }}"><img src="{{ post.Image }}" alt=""></a>
              </div>
              <!-- <span class="card-title">{{ post.0 }}</span> -->
              <div class="card-content">
                <p>{{ post.Name }}</p>
              </div>
              <div class="card-action">
                <a target="_blank" href="{{ post.Link }}">Buy Now: {{ post.Price }}</a>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
    {% if is_paginated %}
        <ul class="pagination center">
            {% if page_obj.has_previous %}
                <li class="disabled waves-effect"><a href="?page=1"><i class="material-icons">subdirectory_arrow_left</i></a></li>
                <li class="disabled waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="active waves-effect"><a href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="disabled waves-effect"><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="disabled waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                <li class="disabled waves-effect"><a href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">subdirectory_arrow_right</i></a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock content%}
